<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <!-- Edit User Form -->
        <h2 class="mb-4">Edit User</h2>
        <form th:action="@{/users/save}" th:object="${user}" method="post">
            <!-- Hidden Field for ID -->
            <input type="hidden" th:field="*{id}" />

            <!-- Name Field -->
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" type="text" class="form-control" th:field="*{name}" required />
            </div>

            <!-- Mobile Field -->
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input id="mobile" type="text" class="form-control" th:field="*{mobile}" required />
            </div>

            <!-- Email Field -->
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="email" class="form-control" th:field="*{email}" required />
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <!-- About Me Section -->
        <div class="mt-5">
            <h3>About Me</h3>
            <div class="d-flex align-items-center justify-content-center">
                <!-- About Text -->
                <div style="width: 30%; margin-right: 20px;">
                    <p style="color: brown; text-align: start; font-size: 20px;">
                        Thanks,<br><br>
                        <b>Name:</b> Moole Muralidhara Reddy<br><br>
                        <b>Website:</b> <a href="https://techworldwithmurali.com" target="_blank">techworldwithmurali.com</a><br><br>
                        <b>Mail Id:</b> <a href="mailto:techworldwithmurali@gmail.com">techworldwithmurali@gmail.com</a><br><br>
                        <b>Youtube Channel:</b> Tech World with Murali<br>
                    </p>
                </div>
                <!-- Profile Image -->
                <div style="width: 30%; text-align: center;">
                    <img class="logo img-fluid" src="/Photo-of-Moole-Muralidhara-Reddy.png" alt="Moole Muralidhara Reddy">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
