<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>User Management</h2>
    <a href="/users/new" class="btn btn-primary">Add New User</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.mobile}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{'/users/edit/' + ${user.id}}" class="btn btn-info">Edit</a>
                    <a th:href="@{'/users/delete/' + ${user.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    <!-- About Me Section -->
    <div class="mt-5">
        <h3>About Me</h3>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div style="width: 30%;">
                <p style="color: brown; text-align: start; font-size: 20px;"> <!-- Adjust font size as needed -->
                    Thanks,<br>
                    <br><br>
                    <b>Name:</b> Moole Muralidhara Reddy<br><br>
                    <b>Website:</b> <a href="https://techworldwithmurali.com" target="_blank">techworldwithmurali.com</a><br><br>
                    <b>Mail Id:</b> <a href="mailto:techworldwithmurali@gmail.com">techworldwithmurali@gmail.com</a><br><br>
                    <b>Youtube Channel:</b> Tech World with Murali<br>
                </p>
            </div>
            <div style="width: 30%; text-align: center; margin-left: -50px;">
                <img class="logo" src="/Photo-of-Moole-Muralidhara-Reddy.png" style="width: 100%;" alt="Moole Muralidhara Reddy">
            </div>
        </div>
    </div>
</div>
</body>
</html>
