<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!-- Add User Section -->
    <div>
        <h2 class="mt-4">Add New User</h2>
        <form th:action="@{/users/save}" th:object="${user}" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" th:field="*{name}" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label>Mobile</label>
                <input type="text" class="form-control" th:field="*{mobile}" placeholder="Enter mobile number">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" th:field="*{email}" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- About Me Section -->
    <div class="mt-5">
        <h3>About Me</h3>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div style="width: 40%;">
                <p style="color: brown; text-align: start; font-size: 18px;">
                    Thanks,<br><br>
                    <b>Name:</b> Moole Muralidhara Reddy<br><br>
                    <b>Website:</b> <a href="https://techworldwithmurali.com" target="_blank">techworldwithmurali.com</a><br><br>
                    <b>Mail Id:</b> <a href="mailto:techworldwithmurali@gmail.com">techworldwithmurali@gmail.com</a><br><br>
                    <b>Youtube Channel:</b> Tech World with Murali<br>
                </p>
            </div>
            <div style="width: 30%; text-align: center; margin-left: 20px;">
                <img class="logo" src="/Photo-of-Moole-Muralidhara-Reddy.png" style="width: 100%;" alt="Moole Muralidhara Reddy">
            </div>
        </div>
    </div>
</div>
</body>
</html>
